[Desktop Entry]
Categories=System;Installer
Encoding=UTF-8
Name=Flatpak installer
GenericName=Flatpak updater
Comment=Installs downloaded Flatpaks
Exec=/bin/bash /usr/bin/flatinstaller_autoupdate.sh
Icon=/usr/share/icons/flatinstaller
Terminal=false
StartupNotify=true
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;application/x-xpinstall;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
Type=Application
